:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	padding: 1em;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 0.8em var(--color-dark09);
}

.heading {
	width: 100%;
	font-size: 2em;
	color: var(--color-color02);
	padding-bottom: 1em;
}

.todo_icon {
	position: absolute;
	top: 5%;
	right: 5%;
	width: 40%;
	object-fit: cover;
}

.wrapper_inputs {
	width: 100%;
}

.box_inputs {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.inputs {
	display: flex;
	flex-direction: column;
}

.label {
	color: var(--color-dark02);
	margin: 0em 0.4em 0.4em 0em;
}

.input {
	padding: 0.6em;
	background: none;
	border: none;
	border-bottom: 0.04em solid var(--color-color03);
	color: var(--color-dark01);
	outline: none;
}

.quantity_inputs {
	display: flex;
	justify-content: space-between;
	margin: 0.4em 0em;
}

.quantity_signs {
	color: var(--color-color03);
}
.quantity_errors {
	color: var(--color-error);
}

.input_important {
	width: 100%;
}

.checkbox {
	width: 24px;
	height: 24px;
	margin-left: 1em;
}

.inputs_date {
	width: 100%;
	margin: 0.8em 0em;
}

.input_date {
	background-color: var(--color-dark06);
	border: 0.04em solid var(--color-dark03);
	padding: 0.2em;
	color: var(--color-color02);
}

.btn_added_task {
	padding: 0.4em;
	width: 40%;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-dark02);
	color: var(--color-dark02);
	cursor: pointer;
}

.box_info {
	width: 100%;
	margin-top: 1em;
	padding: 0.6em;
	display: flex;
	flex-direction: column;
	background-color: var(--color-dark08);
}

.quantity_heading {
	color: var(--color-dark02);
	font-weight: 400;
}

.quantity_result {
	color: var(--color-color03);
	font-weight: bold;
}

@media (min-width: 660px) {
	.wrapper {
		margin-bottom: 2em;
	}

	.todo_icon {
		width: 27%;
	}
}

@media (min-width: 992px) {
	.wrapper {
		display: flex;
		/* margin-top: 1em; */
	}

	.heading {
		font-size: 2em;
		margin-bottom: 1em;
		padding-bottom: 0.2em;
		border-bottom: 0.04em solid var(--color-color08);
		align-self: flex-start;
	}

	.todo_icon {
		top: -8%;
		right: 28%;
		z-index: 1;
		width: 17%;
		transform: rotate(12deg);
	}

	.wrapper_inputs {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.box_inputs {
		width: 70%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.inputs {
		width: 40%;
	}

	.quantity_inputs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0.4em 0em;
	}

	.input_important {
		width: 20%;
		padding-left: 2em;
	}

	.inputs_date {
		width: 20%;
		margin: 0.8em 0em;
	}

	.btn_added_task {
		position: relative;
		background-color: var(--color-dark06);
		z-index: 1;
		overflow: hidden;
	}

	.btn_added_task::before {
		position: absolute;
		content: '';
		width: 120%;
		height: 150%;
		background-color: var(--color-dark08);
		transform: translate(-150%, -30%);
		border-radius: 20px;
		filter: blur(0.4em);
		z-index: -1;
		transition: transform 0.3s ease-in-out;
	}

	.btn_added_task::after {
		position: absolute;
		content: '';
		width: 120%;
		height: 150%;
		background-color: var(--color-dark08);
		transform: translate(50%, -30%);
		border-radius: 20px;
		filter: blur(0.4em);
		z-index: -1;
		transition: transform 0.3s ease-in-out;
	}

	.btn_added_task:hover::before {
		transform: translate(65%, -30%);
	}

	.btn_added_task:hover::after {
		transform: translate(-160%, -30%);
	}

	.box_info {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		right: 1%;
		bottom: 0%;
		width: 25%;
		height: 50%;
		margin-bottom: 1em;
		border: 0.04em solid var(--color-dark04);
	}

	.quantity_heading {
		font-size: 1.6em;
		text-align: center;
	}
}
