:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 600px;
	padding: 1em;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
}

.box_content {
	width: 100%;
}

.heading {
	width: 100%;
	color: var(--color-color02);
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2em;
	margin-bottom: 0.4em;
	border-bottom: 0.04em solid var(--color-color07);
}

.box_info {
	width: 100%;
	margin-bottom: 0.8em;
}

.info,
.info_is_well {
	color: var(--color-color04);
}

.info_too_many {
	color: var(--color-error);
}

.box_select_btns {
	width: 100%;
	margin-bottom: 1em;
	display: flex;
	justify-content: space-between;
}

.select_btn {
	font-size: 1em;
	width: 30%;
	padding: 0.4em;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-dark01);
	color: var(--color-dark01);
	cursor: pointer;
}

.active_select_btn {
	font-size: 1em;
	width: 30%;
	padding: 0.4em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark01);
	color: var(--color-dark01);
	cursor: pointer;
}

.box_nav {
	width: 100%;
	padding: 0.4em;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-dark08);
	border-top: 0.04em solid var(--color-color06);
}

.nav {
	color: var(--color-dark01);
	font-size: 0.8em;
}

.box_todo {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.8em;
}

.popup {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 120px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-color02);
	box-shadow: 0.4em 0.4em 1em var(--color-dark09);
}

.no_popup {
	position: absolute;
	display: none;
	top: 50%;
	left: 14%;
}

.popup_heading {
	text-align: center;
	color: var(--color-color01);
}

.box_btn_popup {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.btn_popup {
	font-size: 1em;
	width: 30%;
	padding: 0.4em;
	color: var(--color-color01);
	background: none;
	border: 0.04em solid var(--color-color02);
}

.box_task {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6em 0em;
	border-bottom: 0.04em dotted var(--color-color07);
}

.title_task_important {
	width: 38%;
	font-weight: 500;
	color: var(--color-color01);
}

.title_task_no_important {
	width: 38%;
	font-weight: 200;
	color: var(--color-color01);
}

.date_important {
	width: 20%;
	font-weight: 500;
	font-size: 0.7em;
	text-align: center;
	color: var(--color-color01);
}

.date_no_important {
	width: 20%;
	font-weight: 200;
	font-size: 0.7em;
	text-align: center;
	color: var(--color-color01);
}

.btns_task {
	width: 35%;
	display: flex;
	justify-content: space-between;
}

.btn_task {
	width: 45%;
	padding: 0.2em;
	font-size: 0.6em;
	color: var(--color-dark01);
	background-color: var(--color-dark06);
	border: 0.04em solid var(--color-dark03);
}

.main_btn {
	width: 50%;
	align-self: flex-end;
	padding: 0.4em;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-dark01);
	color: var(--color-dark01);
	cursor: pointer;
}

@media (min-width: 1200px) {
	.wrapper {
		width: 48%;
		height: 630px;
		margin-bottom: 1em;
		display: flex;
	}

	.info,
	.info_is_well,
	.info_too_many {
		font-size: 1.2em;
	}

	.box_btn {
		width: 20%;
		display: flex;
		flex-direction: column;
		align-self: center;
	}

	.select_btn {
		background-color: var(--color-dark06);
		transition: background-color 0.3s ease-in-out;
	}

	.select_btn:hover {
		background-color: var(--color-dark08);
	}

	.title_task_important {
		width: 38%;
		font-size: 1em;
		font-weight: 500;
	}

	.title_task_no_important {
		width: 38%;
		font-size: 1em;
		font-weight: 200;
	}

	.date_important {
		width: 20%;
		font-weight: 500;
		font-size: 0.8em;
	}

	.date_no_important {
		width: 18%;
		font-weight: 200;
		font-size: 0.8em;
	}

	.popup {
		position: absolute;
		display: block;
		top: 30%;
		left: 50%;
		transform: translateX(-50%);
		width: 90%;
		height: 200px;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-dark08);
		border: 0.04em solid var(--color-color02);
		box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	}

	.no_popup {
		position: absolute;
		display: none;
	}

	.popup_heading {
		font-size: 2em;
	}

	.box_btn_popup {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.btn_popup {
		width: 30%;
		padding: 0.4em;
		color: var(--color-color01);
		background: none;
		border: 0.04em solid var(--color-color02);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.btn_popup:hover {
		background-color: var(--color-dark09);
	}

	.btns_task {
		width: 40%;
		display: flex;
		justify-content: space-between;
	}

	.btn_task {
		width: 45%;
		padding: 0.2em;
		font-size: 0.6em;
		color: var(--color-dark01);
		background-color: var(--color-dark06);
		border: 0.04em solid var(--color-dark03);
		cursor: pointer;
	}

	.main_btn {
		width: 30%;
		background-color: var(--color-dark06);
		transition: background-color 0.3s ease-in-out;
	}

	.main_btn:hover {
		background-color: var(--color-dark08);
	}
}
