:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-darkred01: #dacccc;
	--color-darkred02: #b69999;
	--color-darkred03: #926666;
	--color-darkred04: #6e3232;
	--color-darkred05: #4a0000;
	--color-darkred06: #3b0000;
	--color-darkred07: #2c0000;
	--color-darkred08: #1d0000;
}

.nav_links {
	position: fixed;
	top: 8%;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 10;
	/* margin: 4em 0em 1em 0em; */
}

.btn_active {
	width: 20%;
	padding: 0.2em;
	text-align: center;
	margin: 0em 1em;
	background-color: var(--color-darkred05);
	border: 0.04em solid var(--color-darkred03);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
}

.btn_no_active {
	width: 20%;
	padding: 0.2em;
	text-align: center;
	margin: 0em 1em;
	background-color: var(--color-darkred04);
	border: 0.04em solid var(--color-darkred03);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_no_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
}

.into_btn {
	color: var(--color-darkred01);
	font-size: 0.8em;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}
	.nav_links {
		top: 5%;
	}
}
