:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;
}

.nav_links {
	position: fixed;
	top: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	z-index: 2;
}

.btn_active {
	width: 18%;
	padding: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.4em 0.4em;
	font-size: 1em;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color06);
	box-shadow: 0.08em 0.08em 0.6em var(--color-color06);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-color06);
}

.btn_no_active {
	width: 18%;
	padding: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1em;
	margin: 0.4em 0.4em;
	background-color: var(--color-dark06);
	border: 0.04em solid var(--color-color06);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_no_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
}

.into_btn {
	color: var(--color-dark01);
	font-size: 0.8em;
}

@media (min-width: 660px) {
	.nav_links {
		top: 18%;
	}
}

@media (min-width: 992px) {
	.wrapper {
		padding-left: 10em;
	}
	.nav_links {
		top: 5%;
	}

	.btn_active {
		width: 8%;
		font-size: 1.4em;
	}

	.btn_no_active {
		width: 8%;
		font-size: 1.4em;
	}
}
