:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-color01: #cce8f2;
	--color-color02: #99d1e5;
	--color-color03: #66bbd8;
	--color-color04: #32a4cb;
	--color-color05: #008ebe;
	--color-color06: #007198;
	--color-color07: #005572;
	--color-color08: #00384c;
	--color-color09: #001c26;
}

.nav_links {
	position: fixed;
	top: 8%;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 2;
	/* margin: 4em 0em 1em 0em; */
}

.btn_active {
	width: 20%;
	padding: 0.2em;
	text-align: center;
	margin: 0em 1em;
	background-color: var(--color-color08);
	border: 0.04em solid var(--color-color03);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
}

.btn_no_active {
	width: 20%;
	padding: 0.2em;
	text-align: center;
	margin: 0em 1em;
	background-color: var(--color-color06);
	border: 0.04em solid var(--color-color03);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_no_active:hover {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark05);
}

.into_btn {
	color: var(--color-color01);
	font-size: 0.8em;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}
	.nav_links {
		top: 5%;
	}

	.btn_active {
		width: 10%;
	}

	.btn_no_active {
		width: 10%;
	}
}
