:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-darkred01: #dacccc;
	--color-darkred02: #b69999;
	--color-darkred03: #926666;
	--color-darkred04: #6e3232;
	--color-darkred05: #4a0000;
	--color-darkred06: #3b0000;
	--color-darkred07: #2c0000;
	--color-darkred08: #1d0000;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-darkred08);
}

.box_content {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.heading {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	padding: 0.4em;
	color: var(--color-dark01);
	border-radius: 6px;
	border: 0.04em solid var(--color-dark01);
	background-color: var(--color-darkred08);
}

.box_map {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}

.img_poland_map {
	width: 100%;
	object-fit: cover;
}

.box_cities {
	position: absolute;
	top: 27%;
	left: 2%;
	width: 18%;
	height: 9%;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark01);
	border: 0.04em solid var(--color-dark08);
	box-shadow: 0.6em 0.6em 0.4em var(--color-darkred08);
}

.box_cities:nth-last-child(1) {
	top: 19%;
	left: 37%;
}

.city_weather {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.top {
	width: 100%;
	margin-bottom: 0.4em;
}

.name_city {
	width: 100%;
	padding-bottom: 0.4em;
	border-bottom: 0.04em solid var(--color-dark07);
	color: var(--color-darkred08);
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box_img {
	width: 38%;
}

.img_city {
	width: 100%;
	object-fit: cover;
}

.box_info {
	width: 55%;
	display: flex;
	flex-direction: column;
}

.city_info_weather {
	width: 100%;
	font-size: 0.8em;
	font-weight: 700;
	margin-bottom: 0.2em;
	color: var(--color-darkred08);
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}
	.img_poland_map {
		width: 40%;
	}

	.box_cities {
		width: 9%;
		height: 11%;
		top: 21%;
		left: 28%;
		padding: 0.6em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.box_cities:nth-last-child(1) {
		top: 11%;
		left: 42%;
	}

	.name_city {
		width: 100%;
		font-size: 1.2em;
		padding-bottom: 0.1em;
	}

	.bottom {
		display: flex;
		justify-content: center;
	}

	.box_img {
		width: 42%;
		margin-right: 0.6em;
	}

	.img_city {
		height: 70%;
		object-fit: cover;
	}

	.city_info_weather {
		font-size: 1.1em;
		font-weight: 700;
	}
}
