:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-color01: #cce8f2;
	--color-color02: #99d1e5;
	--color-color03: #66bbd8;
	--color-color04: #32a4cb;
	--color-color05: #008ebe;
	--color-color06: #007198;
	--color-color07: #005572;
	--color-color08: #00384c;
	--color-color09: #001c26;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-dark07);
}

.weather_legend {
	position: absolute;
	opacity: 0;
}

.box_content {
	position: relative;
	margin-top: 8em;
	width: 100%;
	height: 100vh;
	padding: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.back_img {
	position: absolute;
	right: 0;
	width: 40%;
	object-fit: cover;
}

.count {
	font-size: 1.2em;
	text-align: center;
	color: var(--color-dark01);
	border-radius: 6px;
}

.box_map {
	width: 100%;
	height: 100%;
	margin-top: 4em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0.3;
}

.img_poland_map {
	width: 84%;
	object-fit: cover;
}

.city_weather {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_cities {
	position: absolute;
	width: 16%;
	height: 9%;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark02);
	border: 0.1em solid var(--color-color04);
	box-shadow: 0.3em 0.3em 0.4em var(--color-dark08);
}

.box_cities:nth-child(1) {
	top: 14%;
	left: 16%;
	cursor: pointer;
}

.box_cities:nth-child(2) {
	top: 14%;
	left: 33%;
}

.box_cities:nth-child(3) {
	top: 14%;
	right: 34%;
}

.box_cities:nth-child(4) {
	top: 14%;
	right: 17%;
}

.box_cities:nth-child(5) {
	top: 38%;
	left: 3%;
}

.box_cities:nth-child(6) {
	top: 48%;
	left: 3%;
}

.box_cities:nth-child(7) {
	bottom: 33%;
	left: 3%;
}
.box_cities:nth-child(8) {
	bottom: 23%;
	left: 3%;
}
.box_cities:nth-child(9) {
	top: 38%;
	right: 6%;
}
.box_cities:nth-child(10) {
	bottom: 43%;
	right: 6%;
}
.box_cities:nth-child(11) {
	bottom: 33%;
	right: 6%;
}
.box_cities:nth-child(12) {
	bottom: 23%;
	right: 6%;
}
.box_cities:nth-child(13) {
	bottom: 10%;
	left: 16%;
}
.box_cities:nth-child(14) {
	bottom: 10%;
	left: 33%;
}
.box_cities:nth-child(15) {
	bottom: 10%;
	right: 34%;
}
.box_cities:nth-child(16) {
	bottom: 10%;
	right: 17%;
}

.top {
	width: 100%;
	margin-bottom: 0.2em;
}

.name_city {
	width: 100%;
	font-size: 0.9em;
	padding-bottom: 0.2em;
	border-bottom: 0.04em solid var(--color-dark04);
	color: var(--color-dark08);
}

.bottom {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box_img {
	width: 38%;
}

.img_city {
	width: 100%;
	object-fit: cover;
}

.box_info {
	width: 55%;
	display: flex;
	flex-direction: column;
}

.city_info_weather {
	width: 100%;
	font-size: 0.8em;
	font-weight: 700;
	margin-bottom: 0.2em;
	color: var(--color-dark08);
}

.parametr {
	font-weight: 400;
}

.box_lines {
	position: absolute;
	width: 100%;
	height: 100%;
}

.line {
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(--color-color04);
}

.line:nth-child(1) {
	transform: rotate(110deg);
	width: 20%;
	top: 28%;
	left: 5%;
}

.line:nth-child(2) {
	transform: rotate(56deg);
	width: 12%;
	top: 25%;
	left: 30%;
}

.line:nth-child(3) {
	transform: rotate(62deg);
	width: 26%;
	top: 25%;
	right: 36%;
}

.line:nth-child(4) {
	transform: rotate(78deg);
	width: 28%;
	top: 28%;
	right: 18%;
}

.line:nth-child(5) {
	width: 30%;
	top: 43%;
	left: 8%;
}

.line:nth-child(6) {
	width: 9%;
	bottom: 47%;
	left: 8%;
}

.line:nth-child(7) {
	transform: rotate(-34deg);
	width: 26%;
	bottom: 40%;
	left: 8%;
}

.line:nth-child(8) {
	transform: rotate(-34deg);
	width: 22%;
	bottom: 30%;
	left: 8%;
}

.line:nth-child(9) {
	transform: rotate(-42deg);
	width: 21%;
	top: 47%;
	right: 22%;
}

.line:nth-child(10) {
	transform: rotate(-14deg);
	width: 31%;
	bottom: 45%;
	right: 22%;
}

.line:nth-child(11) {
	width: 8%;
	bottom: 37%;
	right: 22%;
}

.line:nth-child(12) {
	transform: rotate(21deg);
	width: 22%;
	bottom: 29%;
	right: 22%;
}

.line:nth-child(13) {
	transform: rotate(132deg);
	width: 26%;
	bottom: 24%;
	left: 14%;
}

.line:nth-child(14) {
	transform: rotate(120deg);
	width: 20%;
	bottom: 24%;
	left: 29%;
}

.line:nth-child(15) {
	transform: rotate(100deg);
	width: 11%;
	bottom: 20%;
	right: 42%;
}

.line:nth-child(16) {
	transform: rotate(92deg);
	width: 11%;
	bottom: 20%;
	right: 26%;
}

.back_img {
	display: none;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}

	.weather_legend {
		opacity: 1;
		left: 10%;
		bottom: 5%;
		width: 20%;
		height: 100%;
		padding: 1em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
	}

	.legend_heading {
		font-size: 1.8em;
		color: var(--color-color02);
		margin-bottom: 1em;
		padding-bottom: 0.4em;
		border-bottom: 0.04em dotted var(--color-color04);
	}

	.legend {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.info_legend {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.4em;
		margin: 0.2em 0em;
		border-bottom: 0.04em dotted var(--color-color04);
	}

	.legend_img {
		width: 12%;
		object-fit: cover;
	}

	.legend_info {
		color: var(--color-color02);
		font-size: 1.2em;
	}

	.box_map {
		margin: 0em 0em 0em 4em;
	}

	.img_poland_map {
		width: 36%;
	}

	.box_content {
		margin-top: 7em;
	}

	.count {
		font-size: 1.4em;
		margin-bottom: 2em;
	}

	.box_cities {
		width: 7.3%;
		height: 10.4%;
		padding: 0.6em;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.box_cities:nth-child(1) {
		top: 11%;
		left: 38%;
	}
	.box_cities:nth-child(2) {
		top: 11%;
		left: 46%;
	}

	.box_cities:nth-child(3) {
		top: 11%;
		right: 38.7%;
	}
	.box_cities:nth-child(4) {
		top: 11%;
		right: 30.7%;
	}

	.box_cities:nth-child(5) {
		top: 32%;
		left: 29%;
	}

	.box_cities:nth-child(6) {
		top: 44%;
		left: 29%;
	}

	.box_cities:nth-child(7) {
		bottom: 33.5%;
		left: 29%;
	}
	.box_cities:nth-child(8) {
		bottom: 21.4%;
		left: 29%;
	}
	.box_cities:nth-child(9) {
		top: 32%;
		right: 22%;
	}
	.box_cities:nth-child(10) {
		top: 44%;
		right: 22%;
	}
	.box_cities:nth-child(11) {
		bottom: 33.5%;
		right: 22%;
	}
	.box_cities:nth-child(12) {
		bottom: 21.4%;
		right: 22%;
	}
	.box_cities:nth-child(13) {
		bottom: 6%;
		left: 38%;
	}
	.box_cities:nth-child(14) {
		bottom: 6%;
		left: 46%;
	}
	.box_cities:nth-child(15) {
		bottom: 6%;
		right: 38.7%;
	}
	.box_cities:nth-child(16) {
		bottom: 6%;
		right: 30.7%;
	}

	.name_city {
		width: 100%;
		font-size: 1.1em;
		padding-bottom: 0.1em;
	}

	.bottom {
		display: flex;
		justify-content: center;
	}

	.box_img {
		width: 36%;
		margin-right: 0.6em;
	}

	.img_city {
		height: 40%;
		object-fit: cover;
	}

	.city_info_weather {
		font-size: 1.1em;
		font-weight: 700;
	}

	.line:nth-child(1) {
		transform: rotate(130deg);
		width: 6%;
		top: 26%;
		left: 35%;
	}

	.line:nth-child(2) {
		transform: rotate(25deg);
		width: 5%;
		top: 20.6%;
		left: 44.6%;
	}

	.line:nth-child(3) {
		transform: rotate(62deg);
		width: 6%;
		top: 25%;
		right: 40%;
	}

	.line:nth-child(4) {
		transform: rotate(78deg);
		width: 10%;
		top: 28%;
		right: 32%;
	}

	.line:nth-child(5) {
		transform: rotate(6deg);
		width: 16%;
		top: 38%;
		left: 32%;
	}

	.line:nth-child(6) {
		width: 6%;
		bottom: 50.5%;
		left: 32%;
	}

	.line:nth-child(7) {
		transform: rotate(-20deg);
		width: 16%;
		bottom: 42%;
		left: 30%;
	}

	.line:nth-child(8) {
		transform: rotate(-25deg);
		width: 11%;
		bottom: 31%;
		left: 33%;
	}

	.line:nth-child(9) {
		transform: rotate(-25deg);
		width: 15%;
		top: 42%;
		right: 28%;
	}

	.line:nth-child(10) {
		transform: rotate(-12deg);
		width: 19%;
		bottom: 48%;
		right: 28%;
	}

	.line:nth-child(11) {
		width: 8%;
		bottom: 38%;
		right: 28%;
	}

	.line:nth-child(12) {
		transform: rotate(12deg);
		width: 15%;
		bottom: 28%;
		right: 28%;
	}

	.line:nth-child(13) {
		transform: rotate(139deg);
		width: 11%;
		bottom: 22%;
		left: 38%;
	}

	.line:nth-child(14) {
		transform: rotate(126deg);
		width: 7%;
		bottom: 22%;
		left: 46%;
	}

	.line:nth-child(15) {
		transform: rotate(92deg);
		width: 4%;
		bottom: 18%;
		right: 42%;
	}

	.line:nth-child(16) {
		transform: rotate(60deg);
		width: 7%;
		bottom: 18%;
		right: 33%;
	}

	.back_img {
		position: absolute;
		display: block;
		bottom: 3%;
		right: 1%;
		width: 26%;
		object-fit: cover;
		opacity: 0.4;
	}
}
