:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-color01: #cce8f2;
	--color-color02: #99d1e5;
	--color-color03: #66bbd8;
	--color-color04: #32a4cb;
	--color-color05: #008ebe;
	--color-color06: #007198;
	--color-color07: #005572;
	--color-color08: #00384c;
	--color-color09: #001c26;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark07);
}

.box_info {
	width: 100%;
	height: 100%;
	margin-top: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	height: 10%;
	margin-top: 2em;
	font-size: 2em;
	color: var(--color-color02);
}

.box_main {
	width: 100%;
	height: 70%;
	padding: 2em;
	display: flex;
	justify-content: space-between;
}

.main_info {
	width: 47%;
	height: 100%;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.main_img {
	width: 80%;
	object-fit: cover;
	margin-bottom: 2em;
}

.main_text {
	text-align: center;
	color: var(--color-color01);
}

.main_legend {
	width: 47%;
	height: 100%;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.legend_heading {
	font-size: 1.8em;
	color: var(--color-color02);
	margin-bottom: 1em;
	padding-bottom: 0.4em;
	border-bottom: 0.04em dotted var(--color-color04);
}

.legend {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info_legend {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0.4em;
	margin: 0.2em 0em;
	border-bottom: 0.04em dotted var(--color-color04);
}

.legend_img {
	width: 12%;
	object-fit: cover;
}

.legend_info {
	color: var(--color-color02);
	font-size: 1.2em;
}

.legend_other_info {
	width: 100%;
	margin-top: 0.6em;
}

.other_info {
	color: var(--color-color01);
	text-align: center;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}

	.heading {
		margin-bottom: 4em;
	}

	.box_info {
		margin-top: 4em;
		height: 60%;
	}

	.main_text {
		font-size: 1.4em;
	}

	.legend_img {
		width: 4%;
	}

	.other_info {
		font-size: 1.4em;
	}
}
