:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0em 2em 0em;
}

.box_progress {
	width: 90%;
	height: 20%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.progress_heading {
	color: var(--color-color04);
	margin-bottom: 0.4em;
}

.progress {
	width: 100%;
	height: 20px;
	border-radius: 5px;
	background-color: var(--color-dark09);
	border: none;
	overflow: hidden;
}

.progress::-webkit-progress-bar {
	background-color: var(--color-dark09);
}

.progress::-webkit-progress-value {
	background-color: var(--color-color06);
	border-radius: 5px 0 0 5px;
}

.progress::-moz-progress-bar {
	background-color: var(--color-color06);
	border-radius: 5px 0 0 5px;
}

.box_quiz {
	width: 100%;
	height: 78%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_question {
	width: 100%;
	height: 48%;
	margin-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.heading_question {
	width: 100%;
	height: 100px;
	color: var(--color-color02);
	font-weight: 200;
	text-align: center;
	font-size: 1.4em;
	margin-bottom: 0.4em;
}
.box_question_img {
	width: 70%;
}

.question_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box_answers {
	width: 100%;
	height: 48%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.answers_list {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	list-style-type: none;
}

.answer {
	width: 100%;
}

.btn_answer {
	width: 100%;
	margin: 0.4em 0em;
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.wrapper {
		width: 64%;
		margin-top: 2em;
	}

	.progress {
		width: 50%;
		height: 20px;
		border-radius: 5px;
		background-color: var(--color-dark09);
		border: none;
		overflow: hidden;
	}
}
