:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em 0em 2em 0em;
}

.box_progress {
	width: 90%;
	height: 18%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2em;
}

.progress_heading {
	color: var(--color-color04);
	margin-bottom: 0.4em;
}

.progress {
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: var(--color-dark09);
	border: none;
	overflow: hidden;
}

.progress::-webkit-progress-bar {
	background-color: var(--color-dark09);
}

.progress::-webkit-progress-value {
	background-color: var(--color-color06);
	border-radius: 5px 0 0 5px;
}

.progress::-moz-progress-bar {
	background-color: var(--color-color06);
	border-radius: 5px 0 0 5px;
}

.box_quiz {
	width: 100%;
	height: 80%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_question {
	width: 100%;
	height: 50%;
	margin-bottom: 1.4em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.box_heading_question {
	width: 100%;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2em;
}

.heading_question {
	width: 100%;
	color: var(--color-color02);
	font-weight: 200;
	font-size: 1.4em;
	text-align: center;
}
.box_question_img {
	margin-top: 0.8em;
	width: 100%;
	height: 70%;
}

.question_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box_answers {
	width: 100%;
	height: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.answers_list {
	width: 100%;
	height: 100%;
	list-style-type: none;
}

.answer {
	width: 100%;
}

.btn_answer {
	width: 100%;
	margin: 0.4em 0em;
	padding: 0.6em;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	color: var(--color-color02);
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.wrapper {
		width: 64%;
		height: 500px;
		margin-top: 2em;
	}

	.box_progress {
		height: 12%;
	}

	.progress {
		width: 50%;
		height: 20px;
		border-radius: 5px;
		background-color: var(--color-dark09);
		border: none;
		overflow: hidden;
	}

	.box_quiz {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 2em;
	}

	.box_question {
		width: 48%;
		height: 100%;
		padding: 0em;
	}

	.box_heading_question {
		height: 10%;
	}

	.heading_question {
		font-size: 2em;
	}

	.box_question_img {
		margin-top: 0.8em;
		width: 100%;
		height: 88%;
	}

	.question_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.box_answers {
		width: 48%;
		height: 100%;
	}

	.answers_list {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.btn_answer {
		padding: 1em;
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn_answer:hover {
		background-color: var(--color-dark09);
	}
}
