:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 0.8em var(--color-dark09);
}

.heading {
	padding-bottom: 0.6em;
	margin-bottom: 0.8em;
	text-align: center;
	font-weight: 100;
	color: var(--color-color01);
	border-bottom: 0.04em dotted var(--color-color07);
}

.box_inputs {
	display: flex;
	flex-direction: column;
}

.inputs {
	display: flex;
	flex-direction: column;
	padding: 0em 0em 1em 0em;
}

.label {
	color: var(--color-color03);
	padding-bottom: 0.2em;
}

.input {
	width: 100%;
	padding: 0.2em;
	font-size: 1.2em;
	background: none;
	border: none;
	border-bottom: 0.04em solid var(--color-color04);
	color: var(--color-dark01);
}

.box_btns {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1em 0em 0em 0em;
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.wrapper {
		width: 60%;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
