:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: fixed;
	visibility: visible;
	width: 90%;
	min-height: 400px;
	top: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark09);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	z-index: 1;
}

.no_wrapper {
	position: fixed;
	visibility: hidden;
	width: 90%;
	min-height: 400px;
	top: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-dark09);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	z-index: 1;
}

.btn_close {
	position: absolute;
	top: 3%;
	right: 5%;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color06);
}

.heading {
	color: var(--color-dark01);
}

@media (min-width: 660px) {
	.wrapper {
		top: 17%;
		min-height: 300px;
	}

	.btn_close {
		top: 5%;
		right: 3%;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.wrapper {
		width: 88%;
		min-height: 640px;
		top: 23%;
	}

	.btn_close {
		top: 5%;
		right: 2%;
	}
}
