:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	height: 80px;
	margin: 5em 0em 3em 0em;
	padding: 1em;
	display: flex;
	justify-content: center;
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 0.8em var(--color-dark09);
}

.header_img {
	position: absolute;
	top: -15%;
	left: -2%;
	width: 32%;
	height: 32%;
	z-index: 1;
}

.img {
	width: 100%;
	object-fit: cover;
}

.back {
	position: absolute;
	top: -20%;
	left: -6em;
	width: 65%;
	height: 120px;
	background-color: var(--color-dark08);
	filter: blur(0.6em);
	transform: rotate(-15deg);
}

.header_text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.header {
	color: var(--color-color01);
	font-family: 'Tilt Warp', sans-serif;
	font-size: 1.1em;
}

.text {
	font-size: 0.8em;
	color: var(--color-color03);
}

@media (min-width: 660px) {
	.header_img {
		top: -30%;
		left: 0%;
		width: 28%;
		height: 28%;
	}

	.img {
		width: 100%;
		object-fit: cover;
	}
	.back {
		top: -20%;
		left: -17em;
		width: 80%;
		height: 180px;
		transform: rotate(-25deg);
	}

	.header {
		font-size: 1.4em;
	}

	.text {
		font-size: 1em;
	}
}

@media (min-width: 992px) {
	.header_img {
		width: 17%;
		height: 17%;
	}

	.back {
		top: -20%;
		left: -30em;
		width: 70%;
		height: 180px;
		transform: rotate(-10deg);
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 60%;
		height: 120px;
		margin: 5em 0em 3em 0em;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header_img {
		width: 40%;
		height: 30%;
		top: -30%;
	}

	.img {
		width: 50%;
	}

	.back {
		width: 60%;
		height: 200px;
		top: 0%;
		left: -40%;
		transform: rotate(-10deg);
	}

	.header {
		font-size: 3em;
	}
}
