:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_players {
	width: 100%;
	height: 60px;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	z-index: 1;
}

.players {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;
}

.players_list {
	width: 45%;
	display: flex;
	justify-content: space-between;
}

.player {
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.player_name {
	color: var(--color-color02);
}

.btn_edit {
	width: 40%;
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.box_players {
		width: 80%;
		height: 80px;
		justify-content: space-around;
	}
}
