:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_info {
	position: absolute;
	top: 0%;
	width: 100%;
	min-height: 280px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	opacity: 1;
}

.no_box_info {
	position: absolute;
	/* top: 0%;
	width: 100%;
	min-height: 280px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 1em var(--color-dark09); */
	opacity: 0;
}

.heading_info {
	color: var(--color-color04);
}

.text_info {
	color: var(--color-color02);
	text-align: center;
}

.btn_close_info {
	width: 100%;
	padding: 0.4em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-color07);
	color: var(--color-color01);
}

.box_results {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 0.4em;
}

.result {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 0.6em;
	margin-bottom: 0.4em;
	border-bottom: 0.04em solid var(--color-color08);
}

.heading_small {
	color: var(--color-color04);
	margin-bottom: 0.4em;
	font-size: 1em;
	font-weight: 200;
}

.result_small {
	color: var(--color-color02);
	font-size: 0.8em;
}

.heading_salary {
	color: var(--color-color04);
	font-size: 1.4em;
	margin-bottom: 0.4em;
	font-weight: 400;
}

.result_salary {
	color: var(--color-color01);
	font-size: 1.8em;
	font-weight: bold;
}

.box_btn {
	margin-top: 0.6em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.btn {
	width: 50%;
	padding: 0.3em;
	background: none;
	border: 0.04em solid var(--color-color07);
	color: var(--color-color03);
}

@media (min-width: 992px) {
	.wrapper {
		height: 460px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.box_info {
		position: absolute;
		top: 0%;
		left: 25%;
		width: 50%;
		min-height: 280px;
		padding: 1em;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		background-color: var(--color-dark07);
		border: 0.04em solid var(--color-color07);
		box-shadow: 0.4em 0.4em 1em var(--color-dark09);
		opacity: 1;
	}

	.no_box_info {
		position: absolute;
		top: 0%;
		width: 100%;
		min-height: 280px;
		opacity: 0;
	}

	.heading_info {
		color: var(--color-color04);
		font-size: 2.4em;
	}

	.text_info {
		color: var(--color-color02);
		text-align: center;
		font-size: 1.4em;
	}

	.btn_close_info {
		padding: 0.8em;
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn_close_info:hover {
		background-color: var(--color-dark09);
	}

	.box_results {
		width: 40%;
		height: 100%;
		justify-content: center;
	}

	.result:nth-child(2) {
		border-bottom: none;
	}

	.result:nth-child(3) {
		padding: 1em;
		background-color: var(--color-dark07);
		border: 0.04em solid var(--color-color07);
		box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	}

	.heading_small {
		font-size: 1.8em;
	}

	.result_small {
		font-size: 1.2em;
	}

	.heading_salary {
		font-size: 2.4em;
	}

	.result_salary {
		font-size: 3em;
	}

	.box_btn {
		margin-top: 2em;
	}

	.btn {
		width: 100%;
		padding: 0.6em;
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn:hover {
		background-color: var(--color-dark09);
	}
}
