:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 90%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_results {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.result {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 0.6em;
	margin-bottom: 1em;
	border-bottom: 0.04em solid var(--color-color08);
}

.heading_small {
	color: var(--color-color04);
	margin-bottom: 0.4em;
	font-size: 1.4em;
	font-weight: 200;
}

.result_small {
	color: var(--color-color02);
}

.heading_salary {
	color: var(--color-color04);
	font-size: 1.8em;
	margin-bottom: 0.4em;
	font-weight: 400;
}

.result_salary {
	color: var(--color-color01);
	font-size: 2.6em;
	font-weight: bold;
}

@media (min-width: 992px) {
	.wrapper {
		height: 460px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.box_results {
		width: 40%;
		height: 100%;
		justify-content: center;
	}

	.result:nth-child(2) {
		border-bottom: none;
	}

	.result:nth-child(3) {
		padding: 1em;
		background-color: var(--color-dark07);
		border: 0.04em solid var(--color-color07);
		box-shadow: 0.4em 0.4em 1em var(--color-dark09);
	}
}
