:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 100%;
	padding: 1em;
	margin: 1em 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-color07);
}

.heading_tax {
	width: 100%;
	margin-bottom: 0.8em;
	padding-bottom: 0.2em;
	text-align: center;
	color: var(--color-color02);
	border-bottom: 0.04em solid var(--color-color02);
}

.box_tax {
	width: 100%;
}

.tax,
.sum_tax {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.tax {
	padding-bottom: 0.4em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em dotted var(--color-color07);
}

.tax:nth-child(6) {
	border-bottom: 0.2em solid var(--color-color07);
}

.name_tax {
	color: var(--color-color03);
	font-weight: 200;
}

.result_tax {
	color: var(--color-color01);
}

.name_sum_tax,
.result_sum_tax {
	color: var(--color-color02);
	font-weight: 400;
	font-size: 1.2em;
}

@media (min-width: 992px) {
	.wrapper {
		width: 50%;
	}

	.heading_tax {
		font-size: 2.6em;
	}

	.name_tax,
	.result_tax {
		font-size: 1.4em;
	}

	.name_sum_tax,
	.result_sum_tax {
		font-size: 1.8em;
		font-weight: 600;
	}
}
