:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	padding: 2em;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark08);
	z-index: 1;
}

.box_btns {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}

.btn_pl,
.btn_en {
	width: 25%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background: none;
	border: 0.04em solid var(--color-color06);
	color: var(--color-color01);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_pl:hover,
.btn_en:hover {
	background-color: var(--color-color07);
	color: var(--color-color01);
}

.btn_pl_active,
.btn_en_active {
	width: 25%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background-color: var(--color-color07);
	border: 0.04em solid var(--color-color07);
	color: var(--color-color01);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.box_content {
	width: 100%;
	height: 160px;
	padding: 1.4em;
	margin-bottom: 2em;
	display: flex;
	align-items: center;
	border: 0.04em solid var(--color-color07);
	text-align: center;
	box-shadow: 0.4em 0.4em 0.6em var(--color-color07);
}

.text {
	color: var(--color-color01);
	font-size: 1em;
}

.swiper {
	position: relative;
	width: 56%;
	height: 200px;
}

.box_swiper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box_card_swiper {
	position: relative;
	border: 0.04em solid var(--color-color07);
}

.card_box_text {
	position: absolute;
	width: 50%;
	bottom: 0;
	left: 0;
	padding: 0.4em;
	background-color: var(--color-color08);
}

.card_heading {
	color: var(--color-color01);
	font-weight: 100;
}

.card_text {
	display: none;
}

.card_box_img {
	width: 100%;
}

.card_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (min-width: 992px) {
	.wrapper {
		padding-left: 10em;
		min-height: 100vh;
	}

	.box_btns {
		margin-bottom: 3em;
	}

	.btn_pl,
	.btn_en {
		width: 15%;
		padding: 0.8em;
		margin: 0em 0.4em;
		background: none;
		border: 0.04em solid var(--color-color08);
		color: var(--color-color01);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.btn_pl:hover,
	.btn_en:hover {
		background-color: var(--color-color07);
		color: var(--color-color01);
	}

	.btn_pl_active,
	.btn_en_active {
		width: 15%;
		padding: 0.8em;
		margin: 0em 0.4em;
		background-color: var(--color-color08);
		border: 0.04em solid var(--color-color07);
		color: var(--color-color01);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.box_content {
		width: 50%;
		height: 200px;
		padding: 1.4em;
		border: 0.04em solid var(--color-color07);
		text-align: center;
		box-shadow: 0.4em 0.4em 0.6em var(--color-color07);
	}

	.text {
		color: var(--color-color01);
		font-size: 1.6em;
	}

	/* .wrapper_card {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.box_card {
		width: 45%;
		height: 40%;
	}

	.card_box_text {
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		padding: 0.4em;
		background-color: var(--color-color08);
	}

	.card_heading {
		color: var(--color-color01);
		font-size: 1.4em;
		font-weight: 400;
		padding-bottom: 0.4em;
		margin-bottom: 0.6em;
		border-bottom: 0.04em solid var(--color-color01);
	}

	.card_text {
		display: block;
		color: var(--color-color03);
	}

	.card_box_img {
		width: 100%;
	}

	.card_img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	} */
}
