:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #3b3c36;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-blue01: #cceffb;
	--color-blue02: #7fd8f6;
	--color-blue03: #4cc9f3;
	--color-blue04: #00b2ee;
	--color-blue05: #008ebe;
	--color-blue06: #006a8e;
	--color-blue07: #00475f;
}

.wrapper {
	padding: 2em;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark06);
}

.box_btns {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.btn_pl,
.btn_en {
	width: 20%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background: none;
	border: 0.04em solid var(--color-blue05);
	color: var(--color-blue02);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_pl:hover,
.btn_en:hover {
	background-color: var(--color-blue03);
	color: var(--color-blue07);
}

.btn_pl_active,
.btn_en_active {
	width: 20%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background-color: var(--color-blue06);
	border: 0.04em solid var(--color-blue06);
	color: var(--color-blue01);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.box_content {
	width: 60%;
	padding: 1.4em;
	border: 0.04em solid var(--color-blue04);
	text-align: center;
	box-shadow: 0.4em 0.4em 0.6em var(--color-blue04);
}

.text {
	color: var(--color-blue02);
	font-size: 1.4em;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}
}
