:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-color01: #cce8f2;
	--color-color02: #99d1e5;
	--color-color03: #66bbd8;
	--color-color04: #32a4cb;
	--color-color05: #008ebe;
	--color-color06: #007198;
	--color-color07: #005572;
	--color-color08: #00384c;
	--color-color09: #001c26;
}

.wrapper {
	position: relative;
	padding: 2em;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(29, 30, 27, 1);
	background-image: radial-gradient(
		circle,
		rgba(29, 30, 27, 1) 0%,
		rgba(47, 48, 43, 1) 25%,
		rgba(29, 30, 27, 1) 50%,
		rgba(47, 48, 43, 1) 75%,
		rgba(29, 30, 27, 1) 100%
	);
	z-index: 1;
}

.box_btns {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.btn_pl,
.btn_en {
	width: 20%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background: none;
	border: 0.04em solid var(--color-color05);
	color: var(--color-color01);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.btn_pl:hover,
.btn_en:hover {
	background-color: var(--color-color02);
	color: var(--color-color09);
}

.btn_pl_active,
.btn_en_active {
	width: 20%;
	padding: 0.4em;
	margin: 0em 0.4em;
	background-color: var(--color-color07);
	border: 0.04em solid var(--color-color07);
	color: var(--color-color01);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.box_content {
	width: 60%;
	height: 400px;
	padding: 1.4em;
	display: flex;
	align-items: center;
	border: 0.04em solid var(--color-color06);
	text-align: center;
	box-shadow: 0.4em 0.4em 0.6em var(--color-color06);
}

.text {
	color: var(--color-color01);
	font-size: 1.4em;
}

@media (min-width: 767.98px) {
	.wrapper {
		padding-left: 10em;
	}

	.box_btns {
		margin-bottom: 3em;
	}

	.btn_pl,
	.btn_en {
		width: 15%;
		padding: 0.8em;
		margin: 0em 0.4em;
		background: none;
		border: 0.04em solid var(--color-color05);
		color: var(--color-color01);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.btn_pl:hover,
	.btn_en:hover {
		background-color: var(--color-color02);
		color: var(--color-color09);
	}

	.btn_pl_active,
	.btn_en_active {
		width: 15%;
		padding: 0.8em;
		margin: 0em 0.4em;
		background-color: var(--color-color07);
		border: 0.04em solid var(--color-color07);
		color: var(--color-color01);
		cursor: pointer;
		transition: all 0.3s ease-in-out;
	}

	.box_content {
		width: 50%;
		height: 300px;
		padding: 1.4em;
		border: 0.04em solid var(--color-color06);
		text-align: center;
		box-shadow: 0.4em 0.4em 0.6em var(--color-color06);
	}

	.text {
		color: var(--color-color01);
		font-size: 1.6em;
	}
}
