:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-blue01: #d6ecf3;
	--color-blue02: #add9e7;
	--color-blue03: #85c6db;
	--color-blue04: #5cb3cf;
	--color-blue05: #34a0c4;
	--color-blue06: #29809c;
	--color-blue07: #1f6075;
	--color-blue08: #14404e;
	--color-blue09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 90%;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 1em 0em 2em 0em;
	padding: 2em;
	border: 0.04em solid var(--color-blue07);
}

.time_list {
	width: 100%;
	/* list-style-type: none; */
}

.time {
	color: var(--color-blue02);
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.wrapper {
		width: 35%;
		height: 600px;
		margin-top: 2em;
	}
}
