:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-theme01: #d6ecf3;
	--color-theme02: #add9e7;
	--color-theme03: #85c6db;
	--color-theme04: #5cb3cf;
	--color-theme05: #34a0c4;
	--color-theme06: #29809c;
	--color-theme07: #1f6075;
	--color-theme08: #14404e;
	--color-theme09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	height: 480px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 1em 0em 2em 0em;
	padding: 1.2em;
	border: 0.04em solid var(--color-theme07);
}

.box_header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.state_info {
	color: var(--color-theme04);
}

.box_icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.btn_icon {
	background: none;
	border: none;
}

.icon_info {
	font-size: 1.2em;
	color: var(--color-theme03);
	margin: 0em 0.2em;
}

.box_modal_info,
.box_modal_change_color {
	position: absolute;
	visibility: visible;
	top: 3%;
	right: 5%;
	width: 50%;
	height: 360px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-dark09);
	border: 0.04em solid var(--color-theme07);
	box-shadow: 0.04em 0.04em 1em var(--color-dark09);
}

.no_box_modal_info,
.no_box_modal_change_color {
	position: absolute;
	visibility: hidden;
	top: 3%;
	right: 5%;
	width: 50%;
	height: 360px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--color-dark09);
	border: 0.04em solid var(--color-theme07);
	box-shadow: 0.04em 0.04em 1em var(--color-dark09);
}

.box_modal_change_color,
.no_box_modal_change_color {
	align-items: center;
}

.btn_change_color {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 0.04em solid #ffffff;
	background-color: #29809c;
	box-shadow: 0.04em 0.04em 1em var(--color-dark02);
}

.btn_change_color:nth-child(2) {
	background-color: #bf3eff;
}

.btn_change_color:nth-child(3) {
	background-color: #0bda51;
}

.heading_info {
	color: var(--color-theme03);
	font-weight: 200;
}

.text_info {
	color: var(--color-theme03);
	display: flex;
	align-items: center;
}

.span_info {
	color: var(--color-dark01);
	padding-left: 0.4em;
}

.btn_close_modal_info {
	width: 100%;
	padding: 0.2em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-theme07);
	color: var(--color-theme03);
}

.box_gamer {
	width: 100%;
	padding: 1em;
	margin: 0.2em 0em;
	display: flex;
	justify-content: space-between;
	border: 0.04em solid var(--color-theme07);
}

.box_inputs {
	width: 70%;
	display: flex;
	flex-direction: column;
}

.label {
	color: var(--color-theme04);
	padding-bottom: 0.4em;
}

.input {
	background: none;
	border: none;
	border-bottom: 0.04em solid var(--color-theme02);
	padding: 0.2em;
	color: var(--color-dark02);
	outline: none;
	font-size: 1.2em;
}

.box_btn_gamer {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.btn_gamer {
	width: 100%;
	padding: 0.4em;
	background: none;
	border: 0.04em solid var(--color-theme07);
	color: var(--color-theme04);
}

.box_name_gamer {
	width: 100%;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 0.04em dotted var(--color-theme08);
}

.name_gamer {
	color: var(--color-theme05);
	font-size: 1.2em;
}

.box_count {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.count {
	width: 100%;
	display: flex;
	justify-content: center;
	font-size: 4em;
	color: var(--color-theme02);
}
.timePart {
	display: inline-block;
	min-width: 20%;
	text-align: center;
}

.box_meassures {
	width: 100%;
	padding: 0em 4em;
	display: flex;
	justify-content: space-around;
}

.meassure {
	font-style: italic;
	color: var(--color-theme06);
}

.time {
	visibility: hidden;
	font-size: 2em;
	margin-bottom: 0.8em;
	color: var(--color-theme02);
}

.box_control {
	width: 100%;
	display: flex;
	padding: 0.2em 0em;
	justify-content: space-between;
}

.btn_control {
	width: 20%;
	padding: 0.4em;
	background-color: var(--color-dark07);
	border: 0.04em solid var(--color-theme07);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-theme02);
}

.btn_control_active {
	width: 20%;
	padding: 0.4em;
	background-color: var(--color-theme09);
	border: 0.04em solid var(--color-theme07);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-theme02);
}

.box_archives {
	width: 100%;
	padding: 0.8em 0em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_archives {
	width: 100%;
	padding: 0.4em;
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-theme07);
	color: var(--color-theme03);
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.wrapper {
		width: 60%;
		height: 600px;
		margin-top: 2em;
	}

	.state_info {
		font-size: 2em;
	}

	.box_modal_info,
	.box_modal_change_color {
		right: 3%;
		height: 420px;
	}

	.no_box_modal_info,
	.no_box_modal_change_color {
		right: 3%;
		height: 420px;
	}

	.btn_change_color {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		border: 0.04em solid #ffffff;
		background-color: #29809c;
		box-shadow: 0.04em 0.04em 1em var(--color-dark02);
		cursor: pointer;
	}

	.heading_info {
		font-size: 1.6em;
	}

	.text_info {
		font-size: 1.2em;
		padding: 0.1em 0em;
	}

	.btn_close_modal_info {
		padding: 0.6em;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
	}

	.btn_close_modal_info:hover {
		background-color: var(--color-dark09);
	}

	.icon_info {
		font-size: 2em;
		cursor: pointer;
		transition: color 0.3s ease-in-out;
	}

	.icon_info:hover {
		color: var(--color-theme06);
	}

	.btn_gamer {
		cursor: pointer;
	}

	.btn_gamer:hover {
		background-color: var(--color-dark09);
	}

	.count {
		font-size: 6em;
	}

	.box_meassures {
		width: 65%;
		padding: 0.2em 1em;
		border-top: 0.04em solid var(--color-theme06);
		justify-content: space-between;
	}

	.time {
		font-size: 2em;
	}

	.btn_control {
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn_control_active {
		font-size: 1em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn_control:hover {
		background-color: var(--color-dark09);
	}

	.btn_control_active:hover {
		background-color: var(--color-dark09);
	}

	.btn_archives {
		font-size: 1.4em;
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	.btn_archives:hover {
		background-color: var(--color-dark09);
	}
}
