:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-theme01: #d6ecf3;
	--color-theme02: #add9e7;
	--color-theme03: #85c6db;
	--color-theme04: #5cb3cf;
	--color-theme05: #34a0c4;
	--color-theme06: #29809c;
	--color-theme07: #1f6075;
	--color-theme08: #14404e;
	--color-theme09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	justify-content: flex-start;
	background-color: var(--color-dark08);
}

.box_stopwatch {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
	.wrapper {
		width: 100%;
		min-height: 100vh;
		display: flex;
		padding-left: 10em;
	}

	.box_stopwatch {
		width: 60%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}
