:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #3b3c36;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-blue01: #cceffb;
	--color-blue02: #7fd8f6;
	--color-blue03: #4cc9f3;
	--color-blue04: #00b2ee;
	--color-blue05: #008ebe;
	--color-blue06: #006a8e;
	--color-blue07: #00475f;
}

.nav {
	position: relative;
	background: none;
}

.nav_btn {
	position: fixed;
	top: 2%;
	right: 3%;
	width: 40px;
	height: 40px;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 10;
	background: none;
	border: 0.04em solid var(--color-blue03);
	cursor: pointer;
}

.line {
	width: 0%;
	height: 0.1em;
	background-color: var(--color-blue03);
}

.line:nth-child(1) {
	width: 100%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(2) {
	width: 70%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(3) {
	width: 50%;
	transition: width 0.3s ease-in-out;
}

.nav_btn:hover .line {
	width: 100%;
}

@media (min-width: 767.98px) {
	.nav_btn {
		opacity: 0;
	}
}
