:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #3b3c36;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #050605;
	--color-blue01: #cceffb;
	--color-blue02: #7fd8f6;
	--color-blue03: #4cc9f3;
	--color-blue04: #00b2ee;
	--color-blue05: #008ebe;
	--color-blue06: #006a8e;
	--color-blue07: #00475f;
}

.nav {
	position: relative;
	background: none;
	z-index: 10;
}

.nav_btn {
	position: fixed;
	top: 2%;
	right: 3%;
	width: 40px;
	height: 40px;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 1;
	background: none;
	border: 0.04em solid var(--color-dark02);
	cursor: pointer;
}

.line {
	width: 0%;
	height: 0.1em;
	background-color: var(--color-dark02);
}

.line:nth-child(1) {
	width: 100%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(2) {
	width: 70%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(3) {
	width: 50%;
	transition: width 0.3s ease-in-out;
}

.nav_btn:hover .line {
	width: 100%;
}

.nav_links_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	background-color: var(--color-dark08);
	transition: all 0.3s ease-in-out;
}

.nav_links_no_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
	background-color: var(--color-dark08);
	transition: all 0.3s ease-in-out;
}

.nav_links_view {
	position: fixed;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	transform: translateX(0%);
	background-color: var(--color-dark08);
	transition: all 0.3s ease-in-out;
}

.list_links {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

.link {
	margin-bottom: 0.6em;
	transition: all 2s ease-in-out;
}

a {
	padding: 0.2em 0em;
	text-decoration: none;
	margin-bottom: 0.4em;
	font-size: 1.2em;
	color: var(--color-dark03);
}
.link:hover {
	color: var(--color-blue02);
	border-bottom: 0.04em solid var(--color-dark02);
}

@media (min-width: 767.98px) {
	.nav_btn {
		opacity: 0;
	}

	.nav_links_view,
	.nav_links_no_view {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		width: 8%;
		height: 100vh;
		transform: translateX(0%);
		border-right: 0.04em solid var(--color-dark04);
	}
}
