:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;
}

.nav {
	position: relative;
	background: none;
	z-index: 10;
}

.nav_btn {
	position: fixed;
	top: 2%;
	right: 3%;
	width: 40px;
	height: 40px;
	padding: 0.4em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 100;
	background: none;
	border: 0.04em solid var(--color-dark02);
	cursor: pointer;
}

.line {
	width: 0%;
	height: 0.1em;
	background-color: var(--color-dark02);
}

.line:nth-child(1) {
	width: 100%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(2) {
	width: 70%;
	transition: width 0.3s ease-in-out;
}
.line:nth-child(3) {
	width: 50%;
	transition: width 0.3s ease-in-out;
}

.nav_btn:hover .line {
	width: 100%;
}

.nav_links_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(0%);
	background-color: var(--color-dark09);
	transition: all 0.3s ease-in-out;
}

.nav_links_no_view {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transform: translateX(-100%);
	background-color: var(--color-dark09);
	transition: all 0.3s ease-in-out;
}

.list_links {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style-type: none;
}

.link {
	margin-bottom: 0.6em;
	transition: all 0.2s ease-in-out;
	text-align: center;
}

a {
	padding: 0.2em 0em;
	text-decoration: none;
	margin-bottom: 0.4em;
	font-size: 1em;
	color: var(--color-dark03);
}
.link:hover {
	color: var(--color-color03);
}

@media (min-width: 660px) {
	.list_links {
		width: 100%;
		height: 100vh;
		padding: 4em 0em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}

	.link {
		margin-bottom: 0.2em;
		padding: 0.2em 2em;
	}

	a {
		padding: 0.08em 0em;
		margin-bottom: 0.04em;
	}
}

@media (min-width: 992px) {
	.nav_links_view,
	.nav_links_no_view {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.list_links {
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}

	.link {
		margin-bottom: 0.6em;
	}

	a {
		padding: 0.2em 0em;
		margin-bottom: 0.2em;
		font-size: 1.2em;
	}
}

@media (min-width: 1200px) {
	.nav_btn {
		opacity: 0;
	}

	.nav_links_view,
	.nav_links_no_view {
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 0;
		right: 0;
		width: 8%;
		height: 100vh;
		transform: translateX(0%);
		border-right: 0.04em solid var(--color-dark04);
	}

	.list_links {
		max-width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}

	.link {
		margin-bottom: 0.6em;
	}

	a {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 1.1em;
		margin-bottom: 0.2em;
	}
}
