:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	position: relative;
	width: 90%;
	height: 80px;
	margin: 5em 0em 2em 0em;
	padding: 1em;
	display: flex;
	justify-content: center;
	border: 0.04em solid var(--color-color07);
	box-shadow: 0.4em 0.4em 0.8em var(--color-dark09);
}

.img {
	position: absolute;
	z-index: 1;
	width: 50%;
	object-fit: cover;
	visibility: hidden;
}

.icon_dollar,
.icon_euro,
.icon_pound,
.icon_franc {
	position: absolute;
	color: var(--color-color05);
}

.icon_dollar {
	font-size: 4em;
	color: #66a68a;
	top: -20%;
	left: -7%;
	transform: rotate(-15deg);
}

.icon_euro {
	font-size: 4.8em;
	color: var(--color-color03);
	top: -45%;
	left: 2%;
	transform: rotate(5deg);
}

.icon_pound {
	font-size: 3.8em;
	color: #ad7065;
	top: -20%;
	left: 16%;
	transform: rotate(-10deg);
}

.icon_franc {
	font-size: 4em;
	color: #3294b7;
	top: -30%;
	left: 23%;
	transform: rotate(10deg);
}

.header_text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.header {
	color: var(--color-color01);
	font-family: 'Tilt Warp', sans-serif;
	font-size: 1.4em;
}

.text {
	font-size: 1em;
	color: var(--color-color03);
}

@media (min-width: 660px) {
	.icon_dollar {
		font-size: 8em;
		top: -42%;
		left: -6%;
	}

	.icon_euro {
		font-size: 7em;
		top: -15%;
		left: 5%;
	}

	.icon_pound {
		font-size: 6em;
		top: -27%;
		left: 16%;
	}

	.icon_franc {
		font-size: 7em;
		top: -30%;
		left: 23%;
	}
}

@media (min-width: 992px) {
	.icon_dollar {
		font-size: 10em;
		top: -56%;
		left: -3%;
		transform: rotate(0deg);
	}

	.icon_euro {
		font-size: 8em;
		top: -32%;
		left: 8%;
		transform: rotate(0deg);
	}

	.icon_pound {
		font-size: 6em;
		top: -10%;
		left: 17%;
		transform: rotate(0deg);
	}

	.icon_franc {
		font-size: 4em;
		top: 10%;
		left: 23%;
		transform: rotate(0deg);
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 60%;
		height: 120px;
		padding: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header {
		font-size: 4em;
	}
}
