:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;
}

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 1em 0em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	border-bottom: 0.4em solid var(--color-color07);
}

.box_check {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1em;
	border-bottom: 0.04em solid var(--color-color07);
}

.header {
	color: var(--color-color04);
	font-size: 1.4em;
	padding-bottom: 1em;
}

.box_input {
	width: 100%;
	display: flex;
	justify-content: space-around;
	padding-bottom: 1em;
}

.label {
	width: 45%;
	color: var(--color-color04);
}

.input {
	width: 45%;
	padding: 0.2em 1em;
	background-color: var(--color-dark06);
	color: var(--color-dark01);
	border: 0.04em solid var(--color-color07);
}

.text {
	color: var(--color-color02);
}

@media (min-width: 660px) {
}

@media (min-width: 992px) {
	.wrapper {
		width: 40%;
	}

	.box_input {
		width: 70%;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 100%;
		min-height: 30%;
		padding-top: 0em;
	}

	.box_input {
		width: 50%;
		justify-content: center;
	}

	.label,
	.input {
		width: 48%;
	}
}
