:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

.wrapper {
	width: 100%;
	height: 440px;
	min-height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
}

.box_calculator {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(4, 4fr);
	grid-template-rows: repeat(7, 4fr);
	box-shadow: 0.6em 0.6em 2em var(--color-dark09);
}

.output {
	background-color: var(--color-color09);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1em 0.6em;
	grid-column: 1/5;
	grid-row: 1/3;
	border: 0.04em solid var(--color-dark02);
}

.previous_operand {
	width: 100%;
	height: 40vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--color-color03);
	font-size: 1.1em;
	font-weight: 100;
	padding-bottom: 0.4em;
	border-bottom: 0.04em dotted var(--color-dark04);
	overflow: hidden;
}

.current_operand {
	width: 100%;
	height: 60vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	color: var(--color-color01);
	font-size: 2.2em;
	font-weight: 400;
	overflow: hidden;
}

.span_one {
	grid-column: 1/3;
}

.span_two {
	grid-column: 3/5;
}

button {
	background-color: var(--color-dark08);
	border: 0.04em solid var(--color-dark03);
	font-size: 1.8em;
	color: var(--color-color01);
}

@media (min-width: 660px) {
	.wrapper {
		margin-bottom: 2em;
	}

	.box_calculator {
		width: 50%;
	}

	.previous_operand {
		font-size: 1em;
	}

	.current_operand {
		font-size: 2em;
	}
}

@media (min-width: 992px) {
	.wrapper {
		height: 600px;
		z-index: 1;
		margin-bottom: 2em;
	}

	.previous_operand {
		font-size: 1.4em;
	}

	.current_operand {
		font-size: 2.6em;
	}
}

@media (min-width: 1200px) {
	.wrapper {
		width: 60%;
		height: 600px;
	}

	.box_calculator {
		width: 40%;
	}

	button {
		cursor: pointer;
		transition: background-color 0.2s ease-in-out;
	}

	button:hover {
		background-color: var(--color-dark09);
	}
}
