*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;

	--color-error: #ff0000;
}

body {
	width: 100%;
	height: 100vh;
	/* overflow: hidden; */
	/* margin: 0; */
	font-family: 'Barlow Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.active {
	color: #ffffff;
}

.swiper-button-next::after {
	opacity: 0;
}

.swiper-button-prev::after {
	opacity: 0;
}

@media (min-width: 992px) {
	.swiper-button-next::after {
		position: absolute;
		display: flex;
		right: 20%;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background-color: var(--color-color08);
		color: var(--color-color02);
		border-radius: 50%;
	}

	.swiper-button-prev::after {
		position: absolute;
		display: flex;
		left: 20%;
		justify-content: center;
		align-items: center;
		width: 70px;
		height: 70px;
		background-color: var(--color-color08);
		color: var(--color-color02);
		border-radius: 50%;
	}
}
