:root {
	--color-dark01: #ffffff;
	--color-dark02: #c4c4c2;
	--color-dark03: #898a86;
	--color-dark04: #62625e;
	--color-dark05: #2f302b;
	--color-dark06: #2f302b;
	--color-dark07: #1d1e1b;
	--color-dark08: #121311;
	--color-dark09: #050605;
	--color-color01: #d6ecf3;
	--color-color02: #add9e7;
	--color-color03: #85c6db;
	--color-color04: #5cb3cf;
	--color-color05: #34a0c4;
	--color-color06: #29809c;
	--color-color07: #1f6075;
	--color-color08: #14404e;
	--color-color09: #0a2027;
}

.wrapper {
	position: relative;
	width: 100%;
	height: 35%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-top: 1em solid var(--color-color08);
}

.box_info_result {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box_your_parametrs {
	width: 100%;
	padding: 0.4em;
	display: flex;
	justify-content: center;
	border-bottom: 0.04em solid var(--color-color07);
}

.your_parametr {
	width: 45%;
	color: var(--color-color03);
}

.parametr {
	color: var(--color-color01);
}

.heading_result {
	color: var(--color-color03);
	padding: 1em 0em;
}

.result {
	color: var(--color-color01);
	font-size: 1.4em;
}

.info_result {
	width: 100%;
	height: 80%;
	display: flex;
	justify-content: space-between;
}

.box_text {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
}

.text {
	text-align: center;
	color: var(--color-color02);
}

.box_img {
	width: 27%;
}

.img {
	height: 100%;
	object-fit: cover;
}

@media (min-width: 660px) {
	.wrapper {
		margin-bottom: 2em;
	}
}

@media (min-width: 992px) {
	.wrapper {
		width: 100%;
		display: flex;
	}

	.parametr {
		font-size: 1.2em;
	}

	.your_parametr:nth-child(1) {
		text-align: left;
	}

	.your_parametr:nth-child(2) {
		text-align: right;
	}

	.heading_result {
		font-size: 1.6em;
		padding: 0.4em 0em;
	}

	.box_text {
		justify-content: center;
	}

	.text {
		font-size: 1.2em;
		text-align: center;
	}

	.box_img {
		display: flex;
		justify-content: center;
	}
}
